<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Список книг</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<section>
<div class="container">
    <h2 class="text-center">Список книг</h2>
<table class="table table-bordered border border-black">
    <thead>
    <tr>
        <th style="display:none;">ID</th>
        <th>Название</th>
        <th>Описание</th>
        <th>Обложка</th>
        <th th:if="${#authorization.expression('hasRole(''ADMIN'')') or #authorization.expression('hasRole(''AUTHOR'')')}">Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td style="display:none;">
            <input type="hidden" th:value="${book.id}" />
        </td>
        <td th:text="${book.title}">Пример книги</td>
        <td th:text="${book.description}">Описание книги</td>
        <td>
            <img th:if="${book.image != null}" th:src="@{${book.image}}" alt="Обложка" width="100">
            <span th:if="${book.image == null}">Нет изображения</span>
        </td>
        <td th:if="${#authorization.expression('hasRole(''ADMIN'')') or #authorization.expression('hasRole(''AUTHOR'')')}">
            <span th:if="${#authentication.principal.id == book.authorId or #authorization.expression('hasRole(''ADMIN'')')}">
                <a class="btn btn-primary mb-4" th:href="@{/books/edit/{id}(id=${book.id})}">Редактировать</a> <br>
                <a class="btn btn-danger" th:href="@{/books/delete/{id}(id=${book.id})}">Удалить</a>
            </span>
        </td>
    </tr>
    </tbody>
</table>
    <br>
    <div sec:authorize="hasRole('AUTHOR') or hasRole('ADMIN')">
        <a class="btn btn-success" th:href="@{/books/create}">Добавить книгу</a>
    </div>
    <br>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-danger">Выйти</button>
    </form>
</div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
